<h1>Bem-vindo a  documentação da calculadora</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, molestiae est iusto porro voluptatem ratione dolor pariatur quas illum aliquid, odit id praesentium perspiciatis dignissimos ad, magni odio sunt laboriosam?

    Para uar a calculadora, chame a API disponível em /calculator usando o veerbo post, enviando um payload contendo os valores x e y. A resposta será a soma.
</p>